
<!-- header section starts  -->

<header>

<div class="container">

    <img alt="Logo" id="logo" src="../../static/images/rtms_logo.png" >
    <a href="#" class="logo"><span>R</span>oute<span>T</span>o<span>M</span>edical<span>S</span>ervices</a>

    <nav class="nav">
        <ul>
            <li class="active"><a href="#home">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#review">review</a></li>
            <li><a href="#contact">contact</a></li>
            <li><a href="#post">post</a></li>
            <li><a href="#signUp">signUp</a></li>
            <li><a href="html/user/login.html">Login</a></li>

        </ul>
    </nav>

    <div class="fas fa-bars"></div>

</div>

</header>

<!-- header section ends  -->