<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" sizes="180x180" href="../../static/images/rtms_logo.png">
    <link rel="icon" sizes="152x152" href="../../static/images/rtms_logo.png">
    <link rel="icon" sizes="144x144" href="../../static/images/rtms_logo.png">
    <link rel="icon" sizes="120x120" href="../../static/images/rtms_logo.png">
    <link rel="icon" sizes="114x144" href="../../static/images/rtms_logo.png">
    <link rel="icon" sizes="76x76" href="../../static/images/rtms_logo.png">
    <link rel="icon" sizes="72x72" href="../../static/images/rtms_logo.png">
    <link rel="icon" sizes="60x60" href="../../static/images/rtms_logo.png">
    <link rel="icon" sizes="57x57" href="../../static/images/rtms_logo.png">
    <title>Welcome to RTMS</title>
    <!-- aos css file cdn link  -->
    <link rel="styleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <!-- magnific popup css cdn link  -->
    <link rel="styleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <!-- bootstrap cdn link  -->
    <link rel="styleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">

    <!-- font awesome cdn link  -->
    <link rel="styleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="styleSheet" href="../../static/style/homepage.css">

</head>

<body>
{% if not register or all %}

    <!-- header section starts  -->

    <header>

        <div class="container">

            <img alt="Logo" id="logo" src="../../static/images/rtms_logo.png">
            <a href="#" class="logo"><span>R</span>oute<span>T</span>o<span>M</span>edical<span>S</span>ervices</a>

            <nav class="nav">
                <ul>
                    <li class="active"><a href="#home">home</a></li>
                    <li><a href="#about">about</a></li>
                    <li><a href="#review">review</a></li>
                    <li><a href="#contact">contact</a></li>
                    <li><a href="#post">post</a></li>
                    <li><a href="#signUp">signUp</a></li>
                    <li><a href="/login">Login</a></li>

                </ul>
            </nav>

            <div class="fas fa-bars"></div>

        </div>

    </header>

    <!-- header section ends  -->
    <!-- home section starts  -->

    <section class="scrollspy" id="home">

        <div class="container">

            <div class="row min-vh-100 align-items-center text-center text-md-left">

                <div class="col-md-6 pr-md-5" data-aos="zoom-in">
                </div>

                <div class="col-md-6 pl-md-5 content" data-aos="fade-left">
                    <h1><span>stay</span> safe, <span>stay</span> healthy.</h1>
                    <h3>caring for you.</h3>
                    <a href="#"><button class="button">learn more</button></a>
                </div>

            </div>

        </div>

    </section>


    <!-- home section ends -->

    <!-- about section start  -->

    <section class="scrollspy" id="about">

        <div class="container">

            <div class="row min-vh-100 align-items-center">

                <div class="col-md-6 content" data-aos="fade-right">

                    <div class="box">
                        <h3> <i class="fas fa-ambulance"></i> ambulance services </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.</p>
                    </div>

                    <div class="box">
                        <h3> <i class="fas fa-procedures"></i> emergency rooms </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.</p>
                    </div>

                    <div class="box">
                        <h3> <i class="fas fa-stethoscope"></i> free check-ups </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.</p>
                    </div>

                </div>

                <div class="col-md-6 d-none d-md-block" data-aos="fade-left">
                    <img src="../../static/images/about-img.png" width="100%" alt="">
                </div>

            </div>

        </div>

    </section>

    <!-- about section ends -->



    <!-- review section starts  -->

    <section class="scrollspy" id="review">

        <div class="container">

            <h1 class="heading"><span>'</span> people's review <span>'</span></h1>

            <div class="box-container">

                <div class="box" data-aos="fade-right">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur accusantium error numquam
                        dolore atque. Atque totam ad sint ducimus! Maxime!</p>
                    <h3>someone's name</h3>
                    <span>jan 5, 2021</span>
                    <img src="../../static/images/pic1.png" alt="">
                </div>

                <div class="box" data-aos="fade-up">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur accusantium error numquam
                        dolore atque. Atque totam ad sint ducimus! Maxime!</p>
                    <h3>someone's name</h3>
                    <span>jan 7, 2021</span>
                    <img src="../../static/images/pic2.png" alt="">
                </div>

                <div class="box" data-aos="fade-left">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur accusantium error numquam
                        dolore atque. Atque totam ad sint ducimus! Maxime!</p>
                    <h3>someone's name</h3>
                    <span>jan 10, 2021</span>
                    <img src="../../static/images/pic3.png" alt="">
                </div>

            </div>

        </div>

    </section>

    <!-- review section ends  -->

    <!-- counter section starts  -->

    <section class="scrollspy" id="counter">

        <div class="container">

            <div class="box-container">

                <div class="box" data-aos="fade-up">
                    <i class="fas fa-hospital"></i>
                    <span>120+</span>
                    <h3>Hospitals</h3>
                </div>

                <div class="box" data-aos="fade-up">
                    <i class="fas fa-users"></i>
                    <span>100+</span>
                    <h3>staff</h3>
                </div>

                <div class="box" data-aos="fade-up">
                    <i class="fas fa-smile"></i>
                    <span>1200+</span>
                    <h3>happy patients</h3>
                </div>

                <div class="box" data-aos="fade-up">
                    <i class="fas fa-procedures"></i>
                    <span>130+</span>
                    <h3>bed facility</h3>
                </div>

            </div>

        </div>

    </section>

    <!-- counter section ends -->

    <!-- contact section starts  -->

    <section class="scrollspy" id="contact">

        <div class="container min-vh-100">

            <div class="row justify-content-center">

                <h1 class="heading"><span>'</span> make an appointment <span>'</span></h1>

                <div class="col-md-10" data-aos="flip-down">

                    <form action="">

                        <div class="inputBox">
                            <input type="text" placeholder="full name">
                            <input type="number" placeholder="phone">
                        </div>

                        <div class="inputBox">
                            <input type="email" placeholder="your email">
                            <select name="" id="appointment">
                                <option value="" disabled selected>make an appointment</option>
                                <option value="09-11 am">09-11 am</option>
                                <option value="11-03 pm">11-03 pm</option>
                                <option value="03-06 pm">03-06 pm</option>
                                <option value="06-09 pm">06-09 pm</option>
                            </select>
                        </div>

                        <textarea name="" id="" cols="30" rows="10" placeholder="message ( optional )"></textarea>

                        <input type="submit" name="" id="" value="make appointment" class="button">

                    </form>

                </div>

            </div>

        </div>

    </section>

    <!-- contact section ends -->

    <!-- post section starts  -->

    <section class="scrollspy" id="post">

        <div class="container min-vh-100">

            <h1 class="heading"><span>'</span> out posts <span>'</span></h1>

            <div class="box-container">

                <div class="box" data-aos="fade-right">
                    <img src="../../static/images/img2.jpg" alt="">
                    <div class="content">
                        <span>jan 5, 2021</span>
                        <a href="#">
                            <h3>post title goes here</h3>
                        </a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ex porro libero at veniam
                            molestias facere quo necessitatibus ipsum ad?</p>
                        <a href="#"><button class="button">learn more</button></a>
                    </div>
                </div>

                <div class="box" data-aos="fade-up">
                    <img src="../../static/images/img4.jpg" alt="">
                    <div class="content">
                        <span>jan 5, 2021</span>
                        <a href="#">
                            <h3>post title goes here</h3>
                        </a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ex porro libero at veniam
                            molestias facere quo necessitatibus ipsum ad?</p>
                        <a href="#"><button class="button">learn more</button></a>
                    </div>
                </div>

                <div class="box" data-aos="fade-left">
                    <img src="../../static/images/img5.jpg" alt="">
                    <div class="content">
                        <span>jan 5, 2021</span>
                        <a href="#">
                            <h3>post title goes here</h3>
                        </a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ex porro libero at veniam
                            molestias facere quo necessitatibus ipsum ad?</p>
                        <a href="#"><button class="button">learn more</button></a>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- post section ends -->

{% endif %}

{% if register or all %}
    <!-- SignUp section starts  -->

    <section class="scrollspy" id="signUp">

        <div class="container min-vh-100">

            <h1 class="heading"><span style="margin-left: 10px;">'</span> SignUp <span>'</span></h1>

            <div class="box-container">

                <div class="box" data-aos="fade-right">
                    <a href="/register/patient"><img id="#patient" src="../../static/images/patient-signUp.png"
                            alt="patient-signUp.png"></a>
                    <div class="content">
                        <a href="register/patient">
                            <h3>Patient SignUp</h3>
                        </a>
                    </div>
                </div>

                <div class="box" data-aos="fade-up">
                    <a href="/register/doctor"><img id="#doctor" src="../../static/images/doctor-signUp.png"
                            alt="doctor-signUp.png"></a>
                    <div class="content">
                        <a href="register/doctor">
                            <h3>Doctor SignUp</h3>
                        </a>
                    </div>
                </div>

                <div class="box" data-aos="fade-left">
                    <a href="/register/pharmacy"><img id="#pharmacy" src="../../static/images/pharmacy-signUp.png"
                            alt="pharmacy-signUp.png"></a>
                    <div class="content">
                        <a href="register/pharmacy">
                            <h3>Pharmacy SignUp</h3>
                        </a>
                    </div>
                </div>

                <div class="box" data-aos="fade-up">
                    <a href="/register/admin"><img id="#admin" src="../../static/images/admin-signUp.png"
                            alt="admin-signUp.png"></a>
                    <div class="content">
                        <a href="register/admin">
                            <h3>Admin SignUp</h3>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>

    <!-- SignUp section ends -->
{% endif %}

{% if not register or all %}

    <!-- footer section starts  -->

    <section class="scrollspy" id="footer">

        <div class="container">

            <div class="row">

                <div class="col-md-4" data-aos="fade-right">
                    <a href="#"
                        class="logo"><span>R</span>oute<span>T</span>o<span>M</span>edical<span>S</span>ervices</a>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nemo porro quasi minima
                        consequuntur dolorum, quas amet in autem id?</p>
                </div>

                <div class="col-md-4 text-center" data-aos="fade-up">
                    <h3>links</h3>
                    <a href="#home">home</a>
                    <a href="#about">about</a>
                    <a href="#review">review</a>
                    <a href="#contact">contact</a>
                    <a href="#post">post</a>
                    <a href="#signUp">signUp</a>
                    <a href="html/user/login.html">Login</a>
                </div>

                <div class="col-md-4 text-center" data-aos="fade-left">
                    <h3>share</h3>
                    <a href="#">facebook</a>
                    <a href="#">twitter</a>
                    <a href="#">instagram</a>
                    <a href="#">github</a>
                </div>

            </div>

        </div>

        <h1 class="credit text-center mx-auto">created by <span>Mr. Mohammad El-Husseini</span> | all rights reserved.
        </h1>

    </section>

    <!-- footer section ends -->
{% endif %}


















    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- magnific popup js link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <!-- aos js file cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <!-- custom js link  -->
    <script src="js/index/main.js"></script>
    <script defer src='/build/bundle.js'></script>


    <script>

        AOS.init({
            duration: 1000,
            delay: 400
        });

    </script>

</body>

</html>