{% extends "shared/base.html" %}


{% block title %}

    <title>RMS - Patients</title>

{% endblock %}

{% block content %}

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
           <div class="profile">
                <img src="Capture.PNG">
                <h3>Doctor's page </h3>
                
            </div>
            <!--menu item-->
            <ul>
                <li>
                    <a href="dashboard.html" >
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">My Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="offices.html">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="item">Offices</span>
                    </a>
                </li>
                <li>
                    <a href="patients.html" class="active">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Patients </span>
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-chart-line"></i></span>
                        <span class="item">Reports</span>
                    </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/login">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item">Log out</span>
                    </a>
                </li>
            </ul>
        </div>
<!-- Navigation Bar-->
<div class="section">
            <div class="top_navbar">
                <div class="hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <label class="share-btn">Location
                    <input type="checkbox">
                    
                  </label>
            </div>

            <!-- start of middle content -->
            <div class="middle-content">
                <div class="full">
                    <ul class="breadcrumb">
               
                      <li><a href="patients.html">Patients</a></li>
                      <li>Edit Patient</li>
                    </ul>
                </div>

                <div class="full p-20">
                    <h2>
                        Edit Patient
                    </h2>
                    <form action="#">
                      <label for="name">First Name:</label>
                      <input type="text" id="first_name" name="first_name" value=""><br>
                      <label for="last_name">Last Name:</label>
                      <input type="text" id="last_name" name="last_name" value=""><br>
                      <label for="email">Email:</label>
                      <input type="text" id="email" name="email" value=""><br>
                      <label for="contact_number">Contact Number:</label>
                      <input type="text" id="contact_number" name="contact_number" value=""><br>
                      <input type="submit" value="Submit">
                    </form> 
                </div>
            </div>


            <!-- end of middle content -->

</div>
<!-- -->
        </div>

{% endblock %}

{% block scripts %}

  <script>
 var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function(){
        document.querySelector("body").classList.toggle("active");
    })
  </script>

{% endblock %}

