{% extends "shared/base.html" %}


{% block title %}

    <title>RMS - Specializations</title>

{% endblock %}

{% block content %}

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
           <div class="profile">
                <img src="Capture.PNG">
                <h3>Doctor's page </h3>
                
            </div>
            <!--menu item-->
            <ul>
                <li>
                    <a href="/doctor/dashboard" >
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">My Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/doctor/offices">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="item">Offices</span>
                    </a>
                </li>
                <li>
                    <div class="active">
                        <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                        <span class="item">Specializations</span>
                    </div>
                </li>

                <li>
                    <a href="/logout">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item">Log out</span>
                    </a>
                </li>
            </ul>
        </div>
<!-- Navigation Bar-->
<div class="section">
            <div class="top_navbar">
                <div class="hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <!-- add button here -->
                <button class="share-btn">Share Location <i class='fas fa-map-marker-alt'></i></button>
                <!-- add button here -->
            </div>

            <!-- start of middle content -->
            <div class="middle-content">
                <div class="full">
                    <ul class="breadcrumb">
                      <li><a href="#">Specializations</a></li>
                      <li>List Page</li>
                    </ul>
                </div>

                <div class="full p-20">
                    
<h2>
    Specializations List
    <a href="specializations_add.html" class="btn">Create New Specializations</a>
</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th width="20%">Action</th>
  </tr>
  <tr>

    {% for specialization in specialization_list %}

  <tr>
    <td>{{specialization.id}}</td>
    <td>{{specialization.specialization_name}}</td>
    <td><a href="/admin/edit_doctor/{{doctor_inform.get('doctor').id}}"><i class='fas fa-edit' style='font-size:20px;color:darkblue'></i></a><br>
        <a class="cur" href="/admin/delete_doctor/{{doctor_inform.get('doctor').id}}" onclick="if(confirm('Are You Sure?')){ alert('delete this record.') }"><i class="fa fa-trash-o" style="font-size:20px;color:red"></i></a><br>
    </td>
 </tr>

    {% endfor %}

</table>

                </div>
            </div>


            <!-- end of middle content -->

</div>
<!-- -->
        </div>

{% endblock %}

{% block scripts %}

  <script>
 var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function(){
        document.querySelector("body").classList.toggle("active");
    })
  </script>

{% endblock %}

